/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import "tailwindcss";

input {
  @apply border border-gray-200 focus:outline-none focus:ring focus:ring-blue-300;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
