/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import "tailwindcss";

/* input {
  @apply border border-gray-200 focus:outline-none focus:ring focus:ring-blue-300;
} */

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.pdf-export {
  all: unset; /* Сбрасываем все стили */
  background-color: white; /* Устанавливаем базовый фон */
  color: black; /* Устанавливаем базовый текст */
}

/* Ширина viewport не меняется при появлении/исчезновении скролла */
/* body {
  scrollbar-gutter: stable;
} */
/*если нужна максимальная совместимость (включая старые браузеры)*/
/* html {
  overflow-y: scroll;
} */

